name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    types: [closed]
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make
